.pertcipate {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5%;
  .index {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    .number,
    .point {
      color: var(--black);
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
  .buttons {
    width: 100%;
    padding: 0% 5%;
    display: flex;
    justify-content: space-around;
    & > * {
      width: fit-content;
      margin: 1.6rem 0rem;
      cursor: pointer;
      padding: 0.3rem 0.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 0.4rem;
      color: white;
      background: var(--green);
      border: none;
    }
  }
  .submit {
    width: fit-content;
    margin: 1.6rem 0rem;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 5%;
    border-radius: 0.4rem;
    color: white;
    background: var(--green);
    border: none;
  }
}
.excequetion {
  display: flex;
  flex-direction: column;
  width: 100%;

  .head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 4% 5%;
    column-gap: 1rem;
    row-gap: 0.5rem;
    & > * {
      span {
        &:first-child {
          color: var(--black);
          font-weight: 600;
          font-size: 1.6rem;
        }
        &:last-child {
          margin-left: 0.3rem;
          color: var(--black);
          font-weight: 500;
          font-size: 1.6rem;
        }
      }
    }
  }
  .quizContainer {
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
  }
}
