.quize {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  .question {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0rem;
    display: flex;
    justify-content: flex-start;
  }
  ol {
    width: 100%;
    list-style-position: inside;
    li {
      width: 100%;
      margin: 1rem 0rem;
      font-size: 1.6rem;
      border-radius: 0.5rem;
      color: var(--black);
      padding: 0.5rem 0.5rem;
      cursor: pointer;
      font-weight: 500;
      background: #f2f3f4;
      &.selected {
        background: orange;
      }
    }
  }
}
